body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f7f7f7, #eee);
    font-family: Arial, sans-serif;
    font-size: 16px;
    }
    
    .titulo-principal {
    font-size: 3em;
    margin-bottom: 40px;
    color: #2c3e50;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    }
    
    .subtitulo {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #2c3e50;
    }
    
    .aquecimento {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
    }
    
    .item {
    margin-top: 20px;
    font-size: 1.4em;
    color: #555;
    }
    
    .descricao {
    margin-top: 50px;
    font-weight: bold;
    font-size: 2em;
    color: #2c3e50;
    }
    
    .link {
    margin-top: 30px;
    font-size: 1.4em;
    color: #2980b9;
    text-decoration: none;
    border-bottom: 2px solid #2980b9;
    transition: all 0.3s ease;
    }
    
    .link:hover {
    color: #fff;
    background-color: #2980b9;
    }
    
    .list-group {
    width: 80%;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    @media (max-width: 768px) {
    .titulo-principal {
    font-size: 2em;
    margin-bottom: 20px;
    }
    
    .subtitulo {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
    }
    
    .aquecimento {
    margin-top: 10px;
    }
    
    .item {
    margin-top: 10px;
    font-size: 1.2em;
    }
    
    .descricao {
    margin-top: 30px;
    font-size: 1.5em;
    }
    
    .link {
    margin-top: 20px;
    font-size: 1.2em;
    }
    
    .list-group {
    width: 90%;
    margin-top: 20px;
    padding: 10px;
    }
    }